.a {
  composes: ClassToBeComposes from 'mercury-storybook/build/es6/a.css';
  color: blue;
  background-color: red;
}

.b {
  composes: ClassToBeComposes from "mercury-storybook/build/es6/a.css";
  composes: a;
}
